


<% @services.each do | s | %>
<h3>Service: <%= s.name %></h3>
  <p>API address - <%= s.web_api %></p>
  <p>Json path - <%= s.json_path %></p>
  <p>id - <%= s.id %></p>



<%= Ping.new(up: true, service: s) %>



<p>LAST PING:</p>
  <% @pings.each do | p | %>
    <% if p.service_id == s.id  %>
    <p> <%= p %> <%= p.created_at %> <%= p.service_id %> <%= p.up %> </p>
  <% end %>
  <% end %>


    <% end %>

<%= link_to 'Add a new service', new_service_path, class: "see-receipe" %>
